body {
font-size: 100%;
}

header {
height: 550px;
}

footer {
position: relative;
border-top: solid black 5px;
width: auto;
height: 75px;
margin: 15px;
}

article {
height: auto;
text-align: left;
}

h1 {
font-size: 2.5em;
text-align: center;
}

p{
margin-left: auto;
margin-right: auto;
font-size: 16pt;
width: 85%; 
padding: 15px;
}

.question {
margin-top: 20px;
margin-left: 11%;
text-align: left;
font-size: 20pt;	
}

.answer {
margin-top: 15px;
margin-left: 13%;
text-align: left;
font-size: 16pt;
}

.bundleContainer {
padding: 25px;
margin: 15px;

}

.columns {
display: inline-block;
text-align: center;
margin-left: auto;
margin-right: auto;
width: 30%;
padding: 10px;

}

.price .grey{
font-size: 18pt;
border: solid black 1px;
}

.price {
list-style-type: none;
border: 1px solid black;
margin: 0;
padding: 0;
-webkit-transition: 0.3s;
transition: 0.3s;
}

.price:hover {
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .priceHeader {
background-color: lightgrey;
color: black;
font-size: 24px;
}

.price li {
padding: 15px;
text-align: center;
font-size: 15pt;

}

.button {
background-color: lightgrey;
border: 1px solid black;
border-radius: 42%;
color: black;
padding: 10px 25px;
text-align: center;
text-decoration: none;
font-size: 18px;
}

.bg-img{
height: 100%;
border-bottom: solid black 5px;
background: url("../Resources/Images/Island.png") no-repeat center;
background-size: cover;
position: relative;
}

.container {
float: right;
margin-right: 80px;
margin-top: 30px;
width: auto;
z-index: 2;
}

.topnav {
overflow: hidden;
background-color: lightgrey;
opacity: 0.8;

}

.topnav a {
float: left;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: grey;
}

.entertainmentContainer{
padding: 15px;
}

.entertainment-left{
padding-top: 25px;
width: auto;
height: 315px;
}

.entertainment-right{
word-wrap: break-word;
position: relative;
padding-top: 10px;
width: 100%;
height: 315px;
}

.entertainment-right > p {
margin-top: 5px;
}

.entertainment-left > p {	
margin-top: 5px;
}


.contentContainer{
text-align: center;	
padding: 15px;
}

.column {
display: inline-block;
width: auto;
margin: 25px;
padding: 15px;
}

.bundleImage {
background-image: url("../Resources/Images/smiles.jpg");
background-repeat: no-repeat;
background-size: 100%, 100%;
height: 150px;
width: 300px;
margin: auto;
border: solid black 1px;
}

.smilesImage {
margin: 15px;
float: left;
height: 250px;
border: solid black 3px;
}

.astroImage {
margin: 15px;
float: right;
height: 250px;
border: solid black 3px;
}

.footerLink {
display: inline-block;
width: 75px;
height: 40px;
margin-left: auto;
margin-right: auto;
border: solid  black 2px;
border-radius: 50%;
background-color: grey;
}

#trails {
text-align: left;
margin-left: 15%;
font-size: 16pt;
}

#tripBundleClickToAction {
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
background-color: lightgrey;
color: black;
cursor: pointer;
padding: 15px;
border-radius: 4px;
text-decoration: none;
}

#linkContainer {
width: 20%;
height: 50px;
margin-top: 15px;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
align-items: center;
}